#root {
    ---primaryColor :  rgb(0, 255, 238);
    ---secundaryColor: greenyellow;
    ---boxColor: #072229;
}

.main__conteiner {
    position: relative;
    width: 100vw;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}
.image__conteiner {
    width: 100vw;
    height: 120px;
}
.image__conteiner img {
    width: inherit;
    height: inherit;
}
.main__form {
    position: relative;
    bottom: 2em;
    width: 255px;
    height: 35px;
    left: 50% ;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    border-radius: 0.5em;
    box-shadow: 4px 4px 4px #aaa;
   
}
.main__input {
    width: 200px;
    text-align: center;
    border-radius: 0.7em 0 0 0.7em;
    
}
.main__btn {
    border-radius: 0 0.7em 0.7em 0;
    width: inherit;
    background-color: greenyellow
    
}
.text__principal {
    position: absolute;
    margin-top: 7px;
    font-size: 1em;
    font-weight: bold;
    background-color: var(---secundaryColor);
    width: 50%;
    top: 0;
    font-style: italic;
    border-radius: 5px;
    left: 25%;
    text-align: center;
}
.card__location {
    width: 80%;
    margin: 0 auto;
    background-color: var(---boxColor);
    color: white;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
.card__name {
    font-size: 16px;
    border-bottom: white 1px solid;
    text-align: center;
    padding: 5px;
}
.list__location {
    width: 100%;
    margin: 0 auto;
    display: flex;
    list-style: none;
    gap: 5px;
    padding: 10px;
}
.title {
    font-size: 14px;
    font-weight: bold;
}
.data {
    font-size: 11px;
}
.centered__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.resident__navigation button {
    background-color: transparent; 
    color: #000000; 
    font-size: 16px; 
    padding: 5px 3px; 
    margin: 0 5px; 
    border: none; 
    cursor: pointer;
}
.resident__navigation button.selected {
    background-color: #ffffff; 
    color: #000000; 
    font-weight: bold; 
    border-radius: 50%; 
}
.resident__conteiner {
    position: relative;
    width: 100%;
    margin-top: 40px;
    min-height: 100px;
    display: flex;
    gap: 70px;
    right: 120px;
    flex-direction: column;
    align-items: center;
    justify-content:center;  
}
.resident {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    height: 120px;
    background-color: #072226;
    color: white;
    border-radius: 10px;
    border: white 2px solid;
    font-style: italic;
}
.resident__status {
    position: absolute;
    bottom: 25px;
    left: 8px;
    background-color: #072226;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border-radius: 5px;
    width: 90px;
    border:  rgb(0, 255, 238) 1px solid;
}
.resident__status__circle {
    display: block;
    width: 0.8em;
    aspect-ratio: 1;
    background-color: #aaa;
    border-radius: 50%;
}
.Alive {
    background-color: green;
}
.Dead {
    background-color: red;
}
.resident__status__value {
    color: white;
}
.resident__image {
    position: relative;
    top: 10px;
    left: 10px;
    width: 80px;
    aspect-ratio: 1;
    border-radius: 8px;
    border:  rgb(0, 255, 238) solid 1px;
}
.resident__body {
    display: flex;
    flex-direction: column;
}
.resident__list {
    position: relative;
    top: 8px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 210px;   
}
.resident__name {
    position: absolute;
    bottom: 106px;
    left: 30px;
    background-color: #072226;
    margin-bottom: 10px;
    border-radius: 5px 5px 0px 0px;
    padding: 4px;
    padding-bottom: 4px;
    z-index: 50;
    border-top: white 2px solid;
    border-left: white 2px solid;
    border-right: white 2px solid;
    font-size: 12px;
}
.resident__value {
    font-size: 12px;
    font-weight: 100;
}
.resident__item {
    font-size: 14px;
    font-weight: bold;
    margin-left: 25px;
}
.loading {
    text-align: center;
    margin-top: 50px;
}
.hasError {
    text-align: center;
    margin-top: 50px;
}

